<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml"><head>
    <meta charset="UTF-8">
    <title>Messages</title>
</head>
<body>
    <div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="LogOut">
        </form>
    </div>
    <div>
        <div th:if="${param.error}">
            Already registered.
        </div>
        <form th:action="@{/messages}" method="post">
            <div><label>Text: <input type="text" th:name="text"></label></div>
            <div><label>Tag: <input type="text" th:name="tag"></label></div>
            <div><input type="submit" value="Add"></div>
        </form>
    </div>

    <div>
        <form th:action="@{/filter}" method="post">
            <div>
                <input type="text" th:name="filter" placeholder="Filter">
                <input type="submit" value="Find">
            </div>
        </form>
    </div>

    <div th:each="message : ${messages}">
        <span th:text="${message.id}"></span>
        <b th:text="${message.text}"></b>
        <i th:text="${message.tag}"></i>
    </div>
</body>
</html>